version: '3.3'
services:
  app:
    build: 
      dockerfile: Dockerfile
      context: .
    image: backend-koperasi
    container_name: backend-service-koperasi
    ports:
      - 8090:8090
    restart: "unless-stopped"
    tty: true
    networks:
      - gonetwork
      
networks:
  gonetwork:
    driver: bridge
    ipam: 
      driver: default
      config: 
        - subnet: 173.10.10.0/24