version: '3.3'
services:
  app:
    build: 
      dockerfile: Dockerfile
      context: .
    image: myapp-image
    container_name: backend-service-app
    ports:
      - 7004:7004
    restart: "unless-stopped"
    tty: true
    networks:
      - gonetwork
      
  # nsqlookupd:
  #   image: nsqio/nsq
  #   command: /nsqlookupd
  #   ports:
  #     - "4160:4160"
  #     - "4161:4161"
  #   networks:
  #     - gonetwork
    
  # nsqd:
  #   image: nsqio/nsq
  #   command:  /nsqd --broadcast-address=nsqd --lookupd-tcp-address=nsqlookupd:4160
  #   depends_on:
  #     - nsqlookupd
  #   ports:
  #     - "4151:4151"
  #     - "4150:4150"
  #   networks:
  #     - gonetwork
    
  # nsqadmin:
  #   image: nsqio/nsq
  #   command: /nsqadmin --lookupd-http-address=nsqlookupd:4161
  #   depends_on:
  #     - nsqlookupd  
  #   ports:
  #     - "4171:4171"
  #   networks:
  #     - gonetwork

networks:
  gonetwork:
    driver: bridge
    ipam: 
      driver: default
      config: 
        - subnet: 173.10.10.0/24