version: '3.9'
services:
  app:
    container_name: ${CONTAINER_NAME}
    build: 
      dockerfile: Dockerfile.dev
      context: .
    volumes:
      - .:/app
    ports:
      - "${APP_PORT}:${APP_PORT}"
    working_dir: /app
    restart: "unless-stopped"
    command: ["air"]
    
